<html>
<head>

<style>
#page-container {                                                               
  border-color: black;                                                          
  border-radius: 14px 14px 14px 14px;                                           
  border-style: solid;                                                          
  border-width: 1px;                                                            
  color: #333333;                                                               
  font: inherit;                                                                
  height: auto;                                                                 
  left: 50%;                                                                    
  margin: -154px 0 0 -418px;                                                    
  padding: 0;                                                                   
  position: absolute;                                                           
  top: 250%;                                                                    
  vertical-align: baseline;                                                     
  width: 838px;                                                                 
} 

h1 {
 clear: both;                                                                  
 padding: 40px 0px 20px 40px;                                                         
 font-size: 24px;                                                              
 font-weight: bold;                                                            
 line-height: 1;                                                               
 color: #333333;
}

.user-details {                                                                 
  width: 90%;                                                                  
  position: relative;                                                          
  left: 5%;                                                                   
  background-color: transparent;                                               
  margin-bottom: 50px;
}                                                                               
   
.make_order_btn {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

#address_mailing_address {
  height: 70px !important;
}
</style>

<script>

  function validateForm(){
    phone = document.getElementById('address_phone_number');
    pin = document.getElementById('account_pin_number');
    address = document.getElementById('address_mailing_address');
    email = document.getElementById('address_email');
    zip = document.getElementById('address_zip_code');
    card = document.getElementById('account_visa');
    card_number = document.getElementById('account_card_number');

    if(phone.value == '') {
      alert("Please enter phone number ...");
      return false;
    }else if(card.value == 'Select a card') {
      alert("Please select a card type...");
      return false;
    }else if(card_number.value == '') {
      alert("Please enter your card number number ...");
      return false;
    }else if(pin.value == '') {
      alert("Please enter pin number ...");
      return false;
    }else if(email.value == '') {
      alert("Please enter your email address ...");
      return false;
    }else if(zip.value == '') {
      alert("Please enter zip code ...");
      return false;
    }else if(address.value == '') {
      alert("Please enter mailing address ...");
      return false;
    } 
    return true;
   }
</script>

</head>
<body>


<div id="page-container" class="wrapper profile-container">

<h1>Enter address and bank account details.</h1>                                              
<form action="/order/create" method="post" id = "customer" onSubmit="return validateForm();">              
<table class="user-details">
<%
  cards = ["Select a card","Visa","Credit card"]
%>
<tr>                                                                  
  <td><%= select_tag "account[visa]", options_for_select(cards) %></td>
</tr>
<tr>                                                                  
  <td><%=text_field(:account,:card_number,:placeholder => "Card number") %></td>    
</tr> 
<tr>                                                                  
  <td><%=password_field(:account,:pin_number,:placeholder => "Pin number") %></td>    
</tr> 
<tr>                                                                  
  <td><hr /></td>    
</tr> 
<tr>                                                                  
  <td><%=text_field(:address,:email,:placeholder => "Email", :value => "#{@pemail}") %></td>    
</tr> 
<tr>                                                                  
  <td>
    <%=text_area(:address,:mailing_address,:placeholder => "Mailing address", :value => "#{@paddress}" ) %>
  </td>    
</tr> 
<tr>                                                                  
  <td><%=text_field(:address,:zip_code,:placeholder => "Zip code", :value => "#{@pzip}") %></td>    
</tr> 
<tr>                                                                  
  <td><%=text_field(:address,:phone_number,:placeholder => "Phone number", :value => "#{@phone}" ) %></td>    
</tr>
<tr>                                                                  
  <td style="float:right;position:absolute;width: 99%;;">                         
    <input type="submit" class="btn make_order_btn button" value="Order" style="width:100%;" />
  </td>                                                               
</tr> 
</table>
</form>


</div>

</body>
</html>
