<html>
<head>
<%= stylesheet_link_tag "bootstrap" %>                                              
<%= stylesheet_link_tag "docs" %>                                              
<%= stylesheet_link_tag "prettify" %>                                              
<%= stylesheet_link_tag "bootstrap-responsive" %>                                              

<%= javascript_include_tag "jquery" %>                                              
<%= javascript_include_tag "bootstrap-tab" %> 
<%= javascript_include_tag "bootstrap-dropdown" %> 

<script>
  function activateTabs() {
    $('.dropdown-toggle').dropdown();
  }
</script>
                                             
<style>
  body {  padding-top: 40px; }

.container {
  height: auto;
}

.images {
  width: 200px;
  height: 150px;
  color: #F5F5F5;
  border-style: solid;
  border-width: 1px;
}

.item_description {
  padding-left: 10px;
  vertical-align: top;
  line-height: 1.4em;
  color: #222222;
  font-size: 12px;
}

.image_container {
}

.zebra-striped {
  width: 100%;
}

.details {
  width: 200px;
  padding-left: 10px;
  vertical-align: top;
  line-height: 1.4em;
  color: #222222;
  font-size: 12px;
}

</style>


</head>


<body>


<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">

<ul class="nav">
<li><a class="brand" href="#">eMusic</a></li>
<li class="active">
<a href="#">Home</a>
</li>
<li><a href="#">Mp3s</a></li>
<li><a href="#">PDAs</a></li>
<li><a href="#">Media players</a></li>
<li><a href="#">Tabular computers</a></li>
<li><a href="#">Blog</a></li>
<li><a href="#">Support</a></li>
</ul>

<form class="navbar-search pull-right">
<input type="text" class="search-query" placeholder="Search">
</form>

</div>
</div>
</div>


<div class="container-fluid">
<!-- -->
<div class="subnav subnav-fixed">
  <ul class="nav nav-pills">
    <li class="dropdown active" style="float:right;">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown">Cart<b class="caret"></b></a>
    </li>
    <li class="dropdown" style="float:right;">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown">Account<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#">Track order</a></li>
        <li><a href="#">Cancel order</a></li>
      </ul>
    </li>
  </ul>
</div>
<%="<br />"*3%>
<!-- -->
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        .................
      </div>
    </div>

    <div class="span6">
      <div class="well sidebar-nav">
        <table class="zebra-striped">
          <tbody>
          <!-- here is where am going to loop to fill out this page with items -->
          <tr>
            <td class="image_container"><img src="/images/artists/heavy_d.jpg" / class="images"></td>
            <td class="item_description">It's worth it for "Keep It Coming", but if you are not a Heavy D fan, I suggest that you don't buy it because it's kinda boring. I still haven't listened to side B. </td>
            <td class="details">
              <p style="">OUT OF STOCK</p>
              <p>$10.00</p>
              <p><a class="btn" href="#">View more</a></p>
            </td>
          </tr>
          <!-- the loop will end here -->
          </tbody>
        </table>
      </div>
    </div>

    <div class="span3">
      <div class="well sidebar-nav">
        .................
      </div>
    </div>



  </div>
</div>
</body>

<script>
  activateTabs();
</script>

</html>
