<html>
<head>
<%= stylesheet_link_tag "bootstrap" %>                                              
<%= stylesheet_link_tag "docs" %>                                              
<%= stylesheet_link_tag "prettify" %>                                              
<%= stylesheet_link_tag "bootstrap-responsive" %>                                              

<%= javascript_include_tag "jquery" %>                                              
<%= javascript_include_tag "bootstrap-tab" %> 
<%= javascript_include_tag "bootstrap-dropdown" %> 

<link rel="shortcut icon" href="/images/logo-2.gif" type="image/x-icon">

<script>
  function activateTabs() {
    $('.dropdown-toggle').dropdown();
  }
</script>
                                             
<style>
body {  
  padding-top: 40px; 
  min-width: 900px;
}

.container {
  height: auto;
}

input, textarea, select, .uneditable-input {                                    
   height: 30px !important;                                                      
} 

.images {
  width: 200px;
  height: 150px;
  color: #F5F5F5;
  border-style: solid;
  border-width: 1px;
}

.item_description {
  padding-left: 10px;
  vertical-align: top;
  line-height: 1.4em;
  color: #222222;
  font-size: 12px;
}

.image_container {
}

.zebra-striped {
  width: 100%;
}

.details {
  width: 200px;
  padding-left: 10px;
  vertical-align: top;
  line-height: 1.4em;
  color: #222222;
  font-size: 12px;
}

</style>


</head>


<body>


<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">

<ul class="nav">
<li><a class="brand" href="#">eMusic</a></li>
<li class="active">
<a href="#">Home</a>
</li>
<li><a href="#">Mp3s</a></li>
<li><a href="#">PDAs</a></li>
<li><a href="#">Media players</a></li>
<li><a href="#">Tabular computers</a></li>
<li><a href="#">Blog</a></li>
<li><a href="#">Support</a></li>
</ul>

<form class="navbar-search pull-right">
<input type="text" class="search-query" placeholder="Search">
</form>

</div>
</div>
</div>


<div class="container-fluid">
<!-- -->
<div class="subnav subnav-fixed">
  <ul class="nav nav-pills">
    <li class="dropdown active" style="float:right;">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown">Cart<b class="caret"></b></a>
    </li>
    <li class="dropdown" style="float:right;">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown">Account<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#">Track order</a></li>
        <li><a href="#">Cancel order</a></li>
        <% if session[:user_id].blank?%>
          <li><a href="/users/login">Login</a></li>
        <%else%>
          <li><a href="#">Logout</a></li>
        <%end%>
      </ul>
    </li>
  </ul>
</div>
<%="<br />"*3%>
<!-- -->
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        eMusic is the world’s leading digital retailer of independent music, second only to iTunes in number of downloads sold. Delivering more than 4.5 million downloads per month; eMusic features over 1.2 million tracks from established and emerging artists in every genre from the world’s leading independent labels. A subscription-based service that offers 50 free downloads at sign-up, acclaimed editorial content, a vibrant online community and music discovery tools; eMusic gives consumers an inexpensive, low-risk way to explore great new music they wouldn’t find otherwise.
        Various pricing plans allow customers to pay as little as 33¢ per track or $9.99 per book, encouraging them to sample new artists and authors and as a result, purchase more entertainment — eMusic customers typically buy more than 20 music tracks per month, so start downloading your FREE MP3s today and take two weeks to decide if you like eMusic. If you're not 100% satisfied simply cancel before your trial period ends and you'll never pay a dime. Keep the 25 FREE MP3s as a gift just for checking out eMusic.
      </div>
    </div>

    <div class="span6">
      <div class="well sidebar-nav">
        <table class="zebra-striped">
          <tbody>
          <!-- here is where am going to loop to fill out this page with items -->
          <tr>
            <td class="image_container"><img src="/images/artists/heavy_d.jpg" / class="images"></td>
            <td class="item_description">It's worth it for "Keep It Coming", but if you are not a Heavy D fan, I suggest that you don't buy it because it's kinda boring. I still haven't listened to side B. </td>
            <td class="details">
              <p style="">OUT OF STOCK</p>
              <p>$10.00</p>
              <p><a class="btn" href="#">View more</a></p>
            </td>
          </tr>
          <!-- the loop will end here -->
          </tbody>
        </table>
      </div>
    </div>

    <div class="span3">
      <div class="well sidebar-nav">
        .................
      </div>
    </div>



  </div>
</div>
</body>

<script>
  activateTabs();
</script>

</html>
