<html>
<head>
<%= stylesheet_link_tag "bootstrap" %>                                              
<%= stylesheet_link_tag "docs" %>                                              
<%= stylesheet_link_tag "prettify" %>                                              
<%= stylesheet_link_tag "bootstrap-responsive" %>                                              

<%= javascript_include_tag "jquery" %>                                              
<%= javascript_include_tag "bootstrap-tab" %> 
<%= javascript_include_tag "bootstrap-dropdown" %> 

<link rel="shortcut icon" href="/images/logo-2.gif" type="image/x-icon">

<script>
  function activateTabs() {
    $('.dropdown-toggle').dropdown();
  }

  function addToCart(albumID) {
    var quantity = document.getElementById("order_quantity").value;
    document.location = "/items/add_to_cart?id=album&album_id=" + albumID + "&quantity=" + quantity;
  }
</script>
                                             
<style>
body {  
  padding-top: 40px; 
  min-width: 900px;
}

.dropdown-menu {                                                                
  left: -79px !important;                                                      
}

.container {
  height: auto;
}

input, textarea, select, .uneditable-input {                                    
   height: 30px !important;                                                      
} 

#order_quantity {
  width: auto;
}

.images {
  /*width: 200px;
  height: 150px;
  color: #F5F5F5;
  border-style: solid;
  border-width: 1px;*/
  
  border-radius: 6px 6px 6px 6px;
  height: 300px;
  width: 300px;
}

.item_description {
  padding-left: 10px;
  vertical-align: top;
  line-height: 1.4em;
  color: #222222;
  font-size: 12px;
}

.image_container {
}

.zebra-striped {
  width: 100%;
}

.details {
  width: 200px;
  padding-left: 10px;
  vertical-align: top;
  line-height: 1.4em;
  color: #222222;
  font-size: 12px;
}

.user-name-bunner {
  color: white;
  font-size: 13px;
}

.artist_row {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  line-height: 3;
}
</style>


</head>


<body>


<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">

<ul class="nav">
<li><a class="brand" href="/home">eMusic</a></li>
<li class="active">
<a href="/home">Home</a>
</li>
<li><a href="/items/music">mp3s</a></li>
<li><a href="#">PDAs</a></li>
<li><a href="#">Media players</a></li>
<li><a href="#">Tabular computers</a></li>
<li><a href="#">Blog</a></li>
<li><a href="#">Support</a></li>
</ul>

<form class="navbar-search pull-right">
<% unless Users.current_user.blank? %>
<span class="user-name-bunner"><font style="color:PowderBlue;">Login as:</font>
&nbsp;<%=Users.current_user.username%></span><%='&nbsp;'*2%>
<%else%>
<span class="user-name-bunner">Not login</span><%='&nbsp;'*2%>
<%end%>
<input type="text" class="search-query" placeholder="Search">
</form>

</div>
</div>
</div>


<div class="container-fluid">
<!-- -->
<div class="subnav subnav-fixed">
  <ul class="nav nav-pills">
    <li class="dropdown active" style="float:right;">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown">Cart<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <%(@cart || []).each do |cart|
          raise cart.to_yaml%>
          <li><a href="#"><%=cart[0]%>:<%=cart[1]%>:<%=cart[2]%></a></li>
        <%end%>
        <li><a href="#">View all</a></li>
      </ul>
    </li>
    <li class="dropdown" style="float:right;">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown">Account<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#">Track order</a></li>
        <li><a href="#">Cancel order</a></li>
        <% if session[:user_id].blank?%>
          <li><a href="/users/login">Login</a></li>
        <%else%>
          <li><a href="/users/logout">Logout</a></li>
        <%end%>
      </ul>
    </li>
  </ul>
</div>
<%="<br />"*3%>
<!-- -->
  <div class="row-fluid">


    <div class="span9">
      <div class="well sidebar-nav">
        <table class="zebra-striped">
          <tbody>
          <%(@album || []).each do |attributes|%>
          <tr class="artist_row">
            <td class="image_container"><img src="<%=attributes[:url]%>" / class="images"></td>
            <td class="item_description">
              <% unless @album.blank? %>
                <font style="font-size:14px;color: blue;">
                <%=@album[0][:artist]%> - <%= @album[0][:title] %> 
                </font>
              <%end%></p>
              <%=attributes[:description]%>
            </td>
            <td class="details">
              <p style="">Quantity<%= select_tag "order[quantity]", options_for_select([1,2,3,4,5,6,7,8,9,10])%></p>
              <p style=""><a class="btn" href="#" onclick="addToCart(<%=@album[0][:album_id]%>)">Add to Cart</a></p>
            </td>
          </tr>
          <tr>
            <td colspan="3">&nbsp;</td>
          </tr>
          <%end%>
          </tbody>
        </table><br />
        <% unless @album.blank? %>
          <font style="font-size:14px;color: blue;">
          <%=@album[0][:artist]%> - <%= @album[0][:title] %> Album Track Listing
          </font>
        <%end%>
        <table class="zebra-striped table-striped">
          <tbody style="">
          <tr style="background-color:#709BCE !important;color: black;">
            <th style="background-color:#709BCE;">&nbsp;</th>
            <th style="background-color:#709BCE;padding-top:8px;text-align:left;font-size:12px;" valign="top">Song title</th>
            <th style="background-color:#709BCE;padding-top:8px;text-align:center;font-size:12px;" valign="top">Time</th>
            <th style="background-color:#709BCE;padding-top:8px;text-align:center;font-size:12px;" valign="top">Price</th>
            <th style="background-color:#709BCE;">&nbsp;</th>
          </tr>
          <%(@songs || []).each do |song| %>
            <tr>
              <td>&nbsp;</td>
              <td style="color: #222222;font-size: 12px;"><%=song.title%></td>
              <td style="color: #222222;font-size: 12px;"><%=%></td>
              <td style="color: #222222;font-size: 12px;"><%=%></td>
              <td align="right"><a class="btn" href="/items/view/<%=%>">Buy songs</a></td>
            </tr>
          <%end%>
          </tbody>
        </table>
      </div>
    </div>

    <div class="span3">
      <div class="well sidebar-nav">
        <table>
        <caption style="font-size:16px;color:Orange;">Categories</caption>
        <% (Songs.find(:all,:group => "genre") || []).each do |song| %>
          <tr>
            <td style="font-size:14px;color: blue;">
              <a class="" href="/items/music/<%=song.genre%>"><%=song.genre%></a>
            </td>
          </tr>
        <%end%>
        </table>
      </div>
    </div>



  </div>
</div>
</body>

<script>
  activateTabs();
</script>

</html>
